.contacts__title {
  margin-bottom: 33px;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: @base-text-color;
  text-align: center;
}

.contacts__wrapper {
  margin-bottom: 37px;
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 2px;

  font-weight: 700;
  font-size: 18px;
  color: @base-text-color;
  text-align: center;
}

.contacts__item {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: @pink;
  text-align: center;

  &--write {
    margin-bottom: 24px;
  }

  &--last {
    margin-bottom: 0;
  }

  a {
    color: @pink;
    text-decoration: none;
  }
}
