@media (min-width: @tablet-width) {

  .download {
    position: relative;
    margin-top: -110px;
    z-index: 1;

    background-color: @bg-header;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    @media @retina {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .download__wrapper {
    width: 660px;
    margin: 0 auto;

    background-image: url("../../img/iphone-hand-tablet@1x.png");
    background-position: left -20px bottom 0;
    background-repeat: no-repeat;

    @media @retina {
      background-image: url("../../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }
}
