.features__heading-wrapper {
  padding-top: 41px;
}

.features__heading {
  margin: 0;
  margin-bottom: 29px;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: @base-text-color;
  text-align: center;

  &:last-child {
    margin-bottom: 37px;
  }
}

.features__list-wrapper {
  padding-top: 75px;

  background-color: @bg-lightgrey;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.features__list {
  .items-reset();
  width: 280px;
  margin: 0 auto;
  padding-bottom: 290px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center bottom -40px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.features__description {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @base-text-color;
  text-align: center;
}

@media (min-width: @tablet-width) {

  .features__heading-wrapper {
    padding-top: 50px;
  }

  .features__heading {
    margin: 0;
    margin-bottom: 0;

    font-size: 40px;
    line-height: 48px;

    &:last-child {
      padding: 0 50px;
      margin-bottom: 47px;
    }
  }

  .features__list-wrapper {
    padding-top: 0;
  }

  .features__list {
    width: 660px;
    padding-top: 74px;
    padding-left: 330px;
    padding-right: 20px;
    padding-bottom: 9px;
    box-sizing: border-box;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: left 20px bottom 0;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  .features__title {
    text-align: left;
  }

  .features__description {
    margin-bottom: 33px;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {

  .features__heading-wrapper {
    padding-top: 68px;
  }

  .features__heading {
    margin: 0;
    margin-bottom: 0;

    font-size: 50px;
    line-height: 60px;

    &:last-child {
      padding: 0 150px;
      margin-bottom: 69px;
    }
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    width: 960px;
    padding: 0 14px;

    background-image: none;
  }

  .features__item {
    width: 292px;
    padding: 0 27px;
    padding-top: 363px;
    box-sizing: border-box;
    background-position: center top 5px;
    background-repeat: no-repeat;

    &--screen-1 {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &--screen-2 {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &--screen-3 {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }
  }

  .features__title {
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .features__description {
    margin: 0;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
