@mobile-widths-only: ~"(max-width: 767px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
@tablet-widths: 768px;
@desktop-widths: 1150px;
@big-padding: 175px;

@base-font-family: "Open Sans", "Arial", sans-serif;
@font-size-small: 13px;
@base-font-size: 15px;
@line-height: 24px;
@base-line-height: 30px;
@base-font-size-tablet: 17px;
@title-font-size: 25px;
@title-line-height-tablet: 50px;
@title-font-size-tablet: 43px;
@title-line-height-desktop: 57px;
@title-font-size-desktop: 53px;

@text-color: #444444;
@white: #ffffff;
@black: #000000;
@title-bg-color: #f9f9f9;
@border-color: #ececec;
@border-catalog-item: #ededed;
@color-main: #63d1bb;
@color-main--dark: #56c3b2;
@footer-bg-color: #f1f1f1;
