@tablet-width: 660px;
@desktop-width: 960px;
@drop-menu-width: 959px;
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

@base-font-family: "Open Sans", "Arial", sans-serif;
@base-font-size: 14px;
@base-line-height: 24px;
@base-font-size-desktop: 18px;
@base-line-height-desktop: 30px;
@base-text-color: #283645;

@bg-header: #1d2631;
@bg-darkgrey: #283645;
@bg-lightgrey: #f2f2f2;

@pink: #d22856;

// @title-font-size: 25px;
// @title-line-height-tablet: 50px;
// @title-font-size-tablet: 43px;
// @title-line-height-desktop: 57px;
// @title-font-size-desktop: 53px;
// @font-size-small: 13px;
// @line-height: 24px;

@white: #ffffff;
// @black: #000000;
// @title-bg-color: #f9f9f9;
// @border-color: #ececec;
// @border-catalog-item: #ededed;
// @color-main: #63d1bb;
// @color-main--dark: #56c3b2;
// @footer-bg-color: #f1f1f1;
